.App {
  text-align: center;
  align-items: center;
  /* width: 30%; */
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.Section{
  margin-top: 20%;
  margin-bottom: 15%;
}

.App-logo {
  /* height: 40vmin; */
  width: 40%;
}

.App-header{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top: -20%;
}

.App-links{
  margin-top: 10%;
}

.App-login {
  text-align: left;
  /* margin-left: 0%; */
}
.App-createAccount {
  text-align: right;
}

.App-title{
  width: 100%;
  justify-content: center;
}

.Create-Account, .Login {
  margin-top: 15%;
}

.textRight{
  position: absolute;
  right: 15%;
  text-align: right;
}
.textLeft{
  position: absolute;
  left: 15%;
  text-align: left;
}

.img-Home{
  width: 10%;
  margin-top: 10%;
}


.Section-Login, .Section-CreateAccount{
  margin-top: 20%;
}

label, input{
  width: 200px;
  margin: 0;
}

.img-fluid{
  min-width: 20%;
  max-width: 20%;
}


